.iconHover {
  transition: all 0.2s;
}

.iconHover:hover {

  cursor: pointer;
}

@font-face {
  font-family: A;
  src: url("/fonts/IBMPlexSansArabic-SemiBold.ttf");
  font-weight: 400;
}

@media (max-width: 600px) {
  .MuiContainer-root {
    padding-left: 8px !important;
    padding-right: 8px !important;
  }
}